
I_printed_this.ps
f.png
screenshot.bmp
screenshot2.bmp
sct--31950x-32000_1080x1920.png
sct-715x2638_1080x1900.png
sct-164x3638_1080x1920.png
sct-715x2638_1080x1920.png
test.png
accs.txt
tmp/
audio_input_tmp/
ad1.png
ad1.png
spline.py - collegamento.lnk
To get the list of tools available in Da.py
spline_old.py
rtf
video.mp4
.aws-side.py.swp
file.mp4

ooo

vis/
__pycache__/
new 8.txt
exiftool/
1920x1080_black.mp4
gui/eel/node_modules/
gui/eel/build/
gui/eel/.env
gui/eel/dist/
__pycache__/boto3_utils.cpython-310.pyc
.env
gui/eel/social-media-helper-417814-22917349ca42.json
social-media-helper-417814-22917349ca42.json
app.log
__pycache__/
__pycache__\
*.pyc
/__pycache__
__pycache__/boto3_utils.cpython-310.pyc
__pycache__/boto3_utils.cpython-310.pyc
__pycache__/boto3_utils.cpython-310.pyc
__pycache__/boto3_utils.cpython-310.pyc
gui/eel/react-eel-app.exe
*.spec
gui/eel/react-eel-app.exe
gui/eel/react-eel-app.spec
gui/eel/react-eel-app.spec
gui/eel/react-eel-app.exe
gui/gui_starter_shortcut.lnk
gui/eel/react-eel-app.exe
gui/eel/gui_app.log
test.py
